<ion-content>
  <ion-row>
    <ion-col>
      <div class="nav">
        <div class="header">
          <div class="title">
            <h3>Bienvenido</h3>
            <h4>Inicio</h4>
          </div>
        </div>
        <div class="content">
          <ion-buttons slot="end">
            <ion-button color="dark" (click)="getGeolocation()">
              <ion-icon name="locate-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="container">
        <div class="card-hero"></div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <div class="container">
          <div class="cars" *ngFor="let car of cars">
            <div class="card">
              <div class="card-header">
                <h3>{{car.nombre}}</h3>
                <h4>{{car.tipo}}</h4>
              </div>
  
              <div class="card-body">
                <div class="content">
                  <p>
                    <ion-icon name="person"></ion-icon>
                    {{car.numero_pasajeros}} pasajeros
                  </p>
                  <p>
                    <ion-icon name="bag"></ion-icon>
                    {{car.numero_maleteros}} maleteros
                  </p>
                </div>
                <div class="image">
                  <img src="{{car.thumbnail}}" alt="">
                </div>

              </div>

              <div class="card-footer">
                <div class="buttons">
                  <!-- <button class="btn">Ver</button> -->
                  <a [href]="['/tabs/home/car-detail/'+car._id]" class="btn">Ver</a>
                </div>
    
                <div class="price">
                  <p>${{car.valor_alquiler}}<span>/dia</span></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
